<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="" class="brand-wrap"><h3>Indian Premium Coffee</h3>
            <!-- <img src="/public/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard"> -->
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item">
                <a class="menu-link" href="/admin/home"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/view_user"> <i class="icon material-icons md-person"></i>
                    <span class="text">View User</span>
                </a>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href=""> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
                <div class="submenu">
                    <a href="/admin/productList" class="active">Product List</a>
                    <a href="/admin/category">Categories</a>
                    <a href="/admin/flavours">Flavours</a>
                </div>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/addProduct"> <i class="icon material-icons md-add_box"></i>
                    <span class="text">Add product</span>
                </a>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href=""> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Coupons</span>
                </a>
                <div class="submenu">
                    <a href="/admin/addCoupon" class="active">Add Coupons</a>
                    <a href="/admin/coupons">Coupon Lists</a>
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href=""> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Offers</span>
                </a>
                <div class="submenu">
                    <a href="/admin/category_Offers" class="active">Category Offers</a>
                    <a href="/admin/product_OfferList" class="active">Product Offers</a>
                </div>
            </li>
        </ul>
        <hr>
        <br>
        <br>
    </nav>
</aside>