<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/user/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/public/user/css/maind134.css?v=3.4">
    <style>
        .layout-menu li{
            margin: 15px 5px;
        }
    </style>
</head>

<body>
    <%-include('userheader.ejs')%>  
    <div class="container d-flex" id="parentContainer">
        <!-- Menu -->
        <div class="layout-menu-container" style="background-color: rgba(0, 0,0, 0.03);">
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
           
               <ul class="menu-inner py-1">
                 <!-- Dashboard -->
                 <li style="border-top: none;" class="menu-item  ">
                   <a href="/profile" class="menu-link">
                     <i class="menu-icon tf-icons fa-solid fa-user"></i>
                     <h6>Profile</h6>
                   </a>
                 </li>
                 <span class="line"></span>
                 <!-- Products -->
                 <li class="menu-item ">
                    <a href="/addresses" class="menu-link">
                        <i class="menu-icon tf-icons fa-solid fa-address-book"></i>
                        <h6>Addresses</h6> 
                    </a>
                </li>
                 <li class="menu-item ">
                   <a href="/addAddress" class="menu-link">
                       <i class="menu-icon tf-icons fa-solid fa-address-book"></i>
                       <h6>Add Addresses</h6> 
                   </a>
               </li>
               <span class="line"></span>
               
               <!-- Orders -->
               <li class="menu-item">
                <a href="/orders" class="menu-link">
                    <i class="menu-icon fa-solid fa-rectangle-list"></i>
                    <h6>Orders</h6>
                </a>
            </li>
            <span class="line"></span>
        
               <!-- Orders -->
               <!-- <li class="menu-item ">
                <a href="" class="menu-link">
                    <i class="menu-icon fa-solid fa-heart"></i>
                    <h6>Wishlist</h6>
                </a>
                </li> -->
            <span class="line"></span>
               
               
               
               <!-- Customers -->
               <li class="menu-item ">
                   <a href="" class="menu-link">
                       <i class="menu-icon fa-solid fa-lock"></i>
                       <h6>Change Password</h6>
                   </a>
               </li>
               <span class="line"></span>
               
               <!-- Coupon -->
               <li class="menu-item">
                   <a href="/logout" class="menu-link text-danger" >
                       <i class="menu-icon tf-icons fa-solid fa-right-from-bracket"></i>
                       <h6 class="text-danger">Signout</h6>
                   </a>
               </li>
               
               </ul>
             </aside>
        </div>
        <!-- / Menu -->
    
        <!-- address Details -->
        <div class="greeting d-flex flex-column align-items-center justify-content-center" style="width: 100%;">
            <h4 class="mb-6 p-3 pl-4 shadow-sm" style="background-color: rgba(0, 0,0, 0.03);">Change Password</h4>
        
            <div class="border bg container">
                <form action="/profile/change-password?_method=PUT" onsubmit="validateChangePassword(event)" method="post" class="p-4 text-center">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="mb-3 row justify-content-center">
                        <label for="currentPassword" class="col-sm-4 col-form-label">Current Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
                            <span class="error text text-danger"  id="currentPasswordError"></span>
                            <span class="text-danger"><%= message%></span>
                        </div>
                    </div>
        
                    <div class="mb-3 row justify-content-center">
                        <label for="newPassword" class="col-sm-4 col-form-label">New Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                            <span class="error text text-danger"  id="newPasswordError"></span>
                        </div>
                    </div>
        
                    <div class="mb-3 row justify-content-center">
                        <label for="confirmNewPassword" class="col-sm-4 col-form-label">Confirm New Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" required>
                            <span class="error text text-danger"  id="confirmNewPasswordError"></span>
                        </div>
                    </div>
        
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
                
            </div>
        </div>
        
        
        
        
        
    </div>
    
    <%-include('userFooter.ejs')%>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/public/js/changePasswordValidation.js"></script>
    <!-- Vendor JS-->
    <script src="/public/user/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/public/user/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/public/user/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/public/user/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/public/user/js/plugins/slick.js"></script>
    <script src="/public/user/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/public/user/js/plugins/wow.js"></script>
    <script src="/public/user/js/plugins/jquery-ui.js"></script>
    <script src="/public/user/js/plugins/perfect-scrollbar.js"></script>
    <script src="/public/user/js/plugins/magnific-popup.js"></script>
    <script src="/public/user/js/plugins/select2.min.js"></script>
    <script src="/public/user/js/plugins/waypoints.js"></script>
    <script src="/public/user/js/plugins/counterup.js"></script>
    <script src="/public/user/js/plugins/jquery.countdown.min.js"></script>
    <script src="/public/user/js/plugins/images-loaded.js"></script>
    <script src="/public/user/js/plugins/isotope.js"></script>
    <script src="/public/user/js/plugins/scrollup.js"></script>
    <script src="/public/user/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="/public/user/js/maind134.js?v=3.4"></script>
    <script src="/public/user/js/shopd134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>
