<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/user/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/public/user/css/maind134.css?v=3.4">
    <style>
        .layout-menu li{
            margin: 15px 5px;
        }
    </style>
    <script src="/public/js/checkoutValidation.js"></script>
</head>

<body>
    <%-include('userheader.ejs')%>  
    <div class="container-fluid d-flex" style="height: 100vh;">
        <!-- Side Menu -->
        <div class="layout-menu-container" style="background-color: rgba(0, 0, 0, 0.03);">
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <ul class="menu-inner py-1">
                 <!-- Dashboard -->
                 <li style="border-top: none;" class="menu-item  ">
                   <a href="/profile" class="menu-link">
                     <i class="menu-icon tf-icons fa-solid fa-user"></i>
                     <h6>Profile</h6>
                   </a>
                 </li>
                 <span class="line"></span>
                 <!-- Products -->
                 <li class="menu-item ">
                    <a href="/addresses" class="menu-link">
                        <i class="menu-icon tf-icons fa-solid fa-address-book"></i>
                        <h6>Address</h6> 
                    </a>
                </li>
                <span class="line"></span>
                 <li class="menu-item ">
                   <a href="/addAddress" class="menu-link">
                       <i class="menu-icon tf-icons fa-solid fa-address-book"></i>
                       <h6>Add Address</h6> 
                   </a>
               </li>
               <span class="line"></span>
               
               <!-- Orders -->
               <li class="menu-item">
                <a href="/orders" class="menu-link">
                    <i class="menu-icon fa-solid fa-rectangle-list"></i>
                    <h6>Orders</h6>
                </a>
            </li>
            <span class="line"></span>
        
               <!-- Orders -->
               <!-- <li class="menu-item ">
                <a href="/profile/wishlist" class="menu-link">
                    <i class="menu-icon fa-solid fa-heart"></i>
                    <h6>Wishlist</h6>
                </a>
            </li> -->
            <span class="line"></span>
               
               
               
               <!-- Customers -->
               <li class="menu-item ">
                   <a href="/profile/change-password" class="menu-link">
                       <i class="menu-icon fa-solid fa-lock"></i>
                       <h6>Change Password</h6>
                   </a>
               </li>
               <span class="line"></span>
               
               <!-- Coupon -->
               <li class="menu-item">
                   <a href="/logout" class="menu-link text-danger" >
                       <i class="menu-icon tf-icons fa-solid fa-right-from-bracket"></i>
                       <h6 class="text-danger">Signout</h6>
                   </a>
               </li>
               
               </ul>
            </aside>
        </div>
    
        <!-- Add New Address Form -->
        <div class="container d-flex flex-column justify-content-center align-items-center">
            <div class="card mb-3" style="width: 90%;">
                <div class="card-header" style="background-color: rgba(0, 0, 0, 0.03);">
                    <h4 class="card-title shadow-sm">Add New Address</h4>
                </div>
                <div class="card-body">
                    <form action="/addAddress" method="post" onsubmit="addAddress(event)">
                        <div class="container" style="width:90%">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="hidden" name="user._id">
                                <div class="checkout__input">
                                    <p>Name<span>*</span></p>
                                    <input type="text" onkeyup="validateUsername()" id="name" name="name">
                                    <span class="error text text-danger"  id="usernameError"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Mobile<span>*</span></p>
                                    <input type="text" onkeyup="validatePhnumber()" id="mobile" name="mobile">
                                    <span class="error text text-danger"  id="mobileError"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Pincode<span>*</span></p>
                                    <input type="text" onkeyup="validatePin()" id="pincode" name="pincode">
                                    <span class="error text text-danger"  id="pinError"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Locality<span>*</span></p>
                                    <input type="text" onclick="" id="locality" name="locality" >
                                    <span class="error text text-danger"  id="localityError"></span>
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p>Address<span>*</span></p>
                            <input type="text" placeholder="Street Address" onkeyup="validateAddress()"
                               id="address" name="address">
                                <span class="error text text-danger"  id="addressError"></span>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>City/Town<span>*</span></p>
                                    <input type="text" onkeyup="validateCity()" id="city" name="city">
                                    <span class="error text text-danger"  id="cityError"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>State<span>*</span></p>
                                    <input type="text" onkeyup="validateState()" id="state" name="state">
                                    <span class="error text text-danger"  id="stateError"></span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="checkout__input">
                            <p>Country<span>*</span></p>
                            <input type="text" id="country" name="country" onkeyup="validateCountry()" value="India">
                            <span class="error text text-danger"  id="countryError"></span>
                        </div>
    
                        <button type="submit" class="btn btn-dark">Save</button>
                        <span class="text-danger" id="submitError"> </span>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <%-include('userFooter.ejs')%>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Vendor JS-->
    <script src="/public/user/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/public/user/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/public/user/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/public/user/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/public/user/js/plugins/slick.js"></script>
    <script src="/public/user/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/public/user/js/plugins/wow.js"></script>
    <script src="/public/user/js/plugins/jquery-ui.js"></script>
    <script src="/public/user/js/plugins/perfect-scrollbar.js"></script>
    <script src="/public/user/js/plugins/magnific-popup.js"></script>
    <script src="/public/user/js/plugins/select2.min.js"></script>
    <script src="/public/user/js/plugins/waypoints.js"></script>
    <script src="/public/user/js/plugins/counterup.js"></script>
    <script src="/public/user/js/plugins/jquery.countdown.min.js"></script>
    <script src="/public/user/js/plugins/images-loaded.js"></script>
    <script src="/public/user/js/plugins/isotope.js"></script>
    <script src="/public/user/js/plugins/scrollup.js"></script>
    <script src="/public/user/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="/public/user/js/maind134.js?v=3.4"></script>
    <script src="/public/user/js/shopd134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>